li {
    list-style: none;
    display: inline-block;
}

.section-header

.seaction

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("huzaifa-ginwala-TkdUF57nioQ-unsplash.jpg");
    background-color: aqua;
    background-size: cover;
    background-position: center;
}

img {
    margin: 10px auto;
    max-width: 300px;
}