header {
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
    display: inline-block;
}


.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/huzaifa-ginwala-TkdUF57nioQ-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

main{
    display: flex;
    flex-direction: column;
}

article {
    display: flex;
    position: relative;
}

.section-header {
    flex-basis: 20%;
    margin-right: 1%;
    border-right: 3px;
    border-color: black;    
}

.stuff {
    flex-basis: 80%;
    display: flex;
    flex-wrap: wrap;
}

#horiseon {
    flex-basis: 100%;
}

.container {
    position: relative;
    flex-basis: 50%;
}
.container img {
    width: 100%;
}
.bottom-left {
    position: absolute;
    background-color: aqua;
    bottom: 8px;
    left: 16px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}
.seaction {
    flex-wrap: grid;
}

img {
    margin: 10px auto;
    /* max-width: 300px; */
}