li {
    list-style: none;
    display: inline-block;
}

.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("huzaifa-ginwala-TkdUF57nioQ-unsplash.jpg");
    background-color: aqua;
    background-size: cover;
    background-position: center;
}
article {
    display: flex;
    flex-direction: column;
    position: relative;
}
.section-header {
    position: relative;
    justify-content: right;
    
}
.container {
    position: relative;
}

.bottom-left {
    position: absolute;
    background-color: aqua;
    bottom: 8px;
    left: 16px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}
.seaction {
    flex-wrap: grid;
}


img {
    margin: 10px auto;
    max-width: 300px;
}